<h1>Log In </h1>
<%= form_for :session, :url => sessions_path, :method => :post do |f| %>

     <div class="field">
	<%= f.label "Email address" %>
	<%= f.text_field :email %>
     </div>
     
	<div class="actions">
		<br/>
		<%= f.submit "Log in" %>
	</div>

<% end %>
