<span class="alert alert-error">Some problems with Operation</span>
<div id="mod-op"><p><a data-toggle="modal" href="/users/<%= @user._id if@user %>" class="btn btn-primary btn-large">
Refresh
</a></div>
