<h1>Log In</h1>

<%= simple_form_for :session, :url => login_path, 
        wrapper_html: { class: 'form-horizontal' },
        :method => :post do |f| %>

       <%= f.input :usern, label: 'Username or Email',
           label_html: {for: 'inputEmail' }
       %>
       <%= f.input :password, label: 'password', 
                        placeholder: 'your secret key',
           label_html: { for: 'inputPassword' }
       %>
       <%= f.submit 'Log in', :class => 'btn btn-primary' %>

<% end %>
