<h1>Hello world</h1>
<p>
<%= link_to "Check Users",  users_path %>
<%= link_to "Check Courses",  courses_path %>
<%= link_to "Check Users",  lectures_path %>
<%= link_to "Check Users",  assignements_path %>

</p>
